/*fuentes importadas / imported fonts (Poppins & Open Sans)*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

/*propiedades personalizadas / custom properties*/
:root{
    --primary-violet:hsl(257, 40%, 49%);
    --primary-s-magenta:hsl(300, 69%, 71%);

    --open-sans:'Open Sans';
    --poppins:'Poppins';

}

/*box sizing fix*/
html {
    box-sizing: border-box;
    font-size: 62.5%;/*conversor rem / rem conversor (1rem = 10px)*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-size: 1.3rem;
    background-color: var(--primary-violet);
    background-image: url(../images/bg-mobile.svg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@media (min-width: 500px) {
    body{
      font-size: 2.5rem;
      background-image: url(../images/bg-desktop.svg);
    }
}
header{
  width: 100%;
  margin-bottom: 5rem;
  
}
h1{
  font-family: var(--poppins);
  color: white;
}
p{
  font-family: var(--open-sans);
  color: white;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
@media (min-width: 758px) {
    h1,p{
      text-align: start;
    }
}
/*contenedor / container*/
.logo{
  margin: 2rem 0 4rem 4rem;
  width: 12rem;
  
}
@media (min-width: 758px) {
    .logo{
      width: 20rem;
      margin-left:12rem;
      
    }
}
.contenedor{
  width: 30rem;
  display: flex;
  flex-direction: column;
  text-align: center;

}
@media (min-width: 758px) {
    .contenedor{
      flex-direction: row;
      width: 150rem;
      text-align: left;
    }
}

.contenedor-iconos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-top: 8rem;
  
}
@media (min-width: 758px) {
    .contenedor-iconos{
      width: 100%;
      justify-content: end;
      margin-right: 40rem;
      margin-top: 2rem;
    }
}

.contenido-principal{
  margin-top: 4rem;
}
@media (min-width: 758px) {
    .contenido-principal{
      padding: 0 6rem 0 6rem;
      margin-top: 0;
    }
}
.mockup{
  width: 100%;
}
.boton{
  color: var(--primary-violet);
width: 70%;
padding: 1.5rem;
border: none;
border-radius: 4rem ;
font-family: var(--poppins);
transition: 300ms;

}
@media (min-width: 758px) {
    .boton{
      font-size: 1.8rem;
      width: 30%;
    }
}
@media (min-width: 758px) {
    footer{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: end;
    }
}
.boton:hover{
  background-color: var(--primary-s-magenta);
  color: white;
}
.sombra{
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

/*propiedades Frontend Mentor / Frontend Mentor properties*/
.attribution { font-size: 11px; text-align: center; margin: 0 auto; }
.attribution a { color: hsl(187, 100%, 50%); }